body{
  background-color: #061130;
  display: flex;
  flex-direction: column;
  color: #f4f6f8;
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header.a{
  color: #f4f6f8
}
.yellow{
  color: #Fafd61;
}
.flex{
  display: flex;
}
.width-left{
  width: 40%;
}
.width-right{
  width: 60%;
}
.img-width{
  width: 100%;
}
footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f6f8;
}
.spacing a{
  padding-top: 2em;
  padding-bottom: 2em;
  color: #1c4bc4 ;
}
.Body-fix{
margin: 5em 12em 8em 12em;
}
.color-fix{
color: black;
background-color: #e5e3e3;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
}
